---
const personalImageAlt = "Cristian Pulido";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hello! I'm Cristian Pulido, a passionate application developer. I recently
      completed my higher degree in Application Development at Salesianos de
      Triana (Seville), where I gained solid technical and practical training in
      programming and software development. I am currently <strong
        >opening borders to specialize in a specific technology</strong
      >.
    </p>

    <p>
      During my studies, I acquired solid knowledge in <strong
        >HTML, CSS, JAVA, NEXT, TAILWIND, SPRINGBOOT, BOOSTRAP, NODE, DOCKER,
        SQL and NO-SQL Databases, NODE, and EXPRESS</strong
      >. Nowadays, I am trying to specialize in any technology to become an
      expert in my field.
    </p>

    <p>
      As a software developer, <strong
        >I have a wide variety of projects visible on my GitHub
      </strong>. My goal is to find a place in the job market and get an
      opportunity that allows me to grow both professionally and personally.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="../../public/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
