---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "03-12-2024/06-18-2024",
    title: "Full-Stack Developer",
    company: "Virgen del Rocío University Hospital (Seville)",
    description:
      "During my internship at the Computational Health Informatics Group (GISC) at Virgen del Rocío University Hospital, I gained practical experience in various key technologies. I worked with: React.js and Next.js for developing dynamic and efficient user interfaces. Node.js and Express for creating robust and scalable server-side applications. MongoDB and NoSQL for managing non-relational databases, optimizing data storage and retrieval.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
