---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "03-12-2024/Present",
    title: "Computational Medicine Developer",
    company: "Hospital Universitario Virgen del Rocío (Seville)",
    description:
      "Currently working on Computational Medicine projects at the General Hospital of Seville. Developing medical software solutions for public healthcare services. Working with the Computational Health Informatics Group (GISC) to create tools that improve patient care and medical processes using technologies like React.js, Next.js, Node.js, Express, and MongoDB for healthcare applications.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
