---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "12-03-2024/18-06-2024",
    title: "Desarrollador Full-Stack",
    company: "Hospital Universitario Virgen del Rocío(Sevilla)",
    description:
      "Durante mi período de prácticas en el Grupo de Informática de la Salud Computacional(GISC) en el Hospital Universitario Virgen del Rocío, adquirí experiencia práctica en diversastecnologías clave. Trabajé con:React.js y Next.js para el desarrollo de interfaces de usuario dinámicas y eficientes.Node.js y Express para la creación de aplicaciones del lado del servidor robustas y escalables. MongoDB y NoSQL para la gestión de bases de datos no relacionales, optimizando el almacenamiento y la recuperación de datos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
